.timerBtn{
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 15px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    font-family: consolas, "Courier New", monospace;
}

#timeDisplay{
    font-size: 75px;
    color: #00D100;
    font-family: consolas, "Courier New", monospace;
}

#timeContainer{
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: #222222;
}